 b { 
    font-size: 120%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #333366;
   }

div img{
    width: 100px;	height: 100px; /* Размеры */
    background: #fc0; /* Цвет фона */
    outline: 200px solid #000; /* Чёрная рамка */
    border: 300px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
   }
